{% extends 'base.html.twig' %}

        {% block body %}
            <header>
                <a class="homepagelink" href="{{ ea_url().setController('App\\Controller\\Admin\\DashboardController')}}"><h1>ADMIN</h1></a>
                <nav>
                    <ul class="navul">
                        <li class="navitem">
                            <a href="{{ path('main') }}"><button>Homepage</button></a>
                        </li>
                        <li class="navitem">
                            <a href="./message"><button>Messages</button></a>
                        </li>
                        <li class="navitem">
                            <a href="./grid"><button>Grilles</button></a>
                        </li>
                        <li class="navitem">
                            <a href="{{ path('app_users_index') }}"><button>user</button></a>
                        </li>
                    </ul>
                </nav>
            </header>

            <main>
                <section id="sectionmainpage">
                    <h2>DASHBOARD ADMIN</h2>
                    <p>Manage the users, the grids from here.</p>

                </section>
            </main>

            <footer>

            </footer>

        {% endblock %}

