{% extends 'base.html.twig' %}

        {% block body %}
        <h1>Admin</h1>
        <li class="navitem">
            <button><a href="{{ path('main') }}">Home page</a></button>
        </li>
        <li class="navitem">
            <button><a href="./message">message</a></button>
        </li>
        <li class="navitem">
            <button><a href="{{ path('app_users_index') }}">user</a></button>
        </li>
        <li class="navitem">
            <button><a href="./grid">grid</a></button>
        </li>


        {% endblock %}

