{% extends 'base.html.twig' %}

{% block title %}Edit Cell{% endblock %}

{% block body %}
    <h1>Edit Cell</h1>

    {{ include('cell/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cell_index') }}">back to list</a>

    {{ include('cell/_delete_form.html.twig') }}
{% endblock %}
