{% extends 'base.html.twig' %}

{% block title %}Cell index{% endblock %}

{% block body %}
    <h1>Cell index</h1>

    <table class="table" style="border: 2px solid #553B84 ">
        <tbody>
        {% for i in 1..5 %}
            <tr>
                {% for j in 1..5 %}
                    <td>
                        {% for cell in cells %}
                            {% if cell.coordX == i and cell.coordY == j %}
                                {{ cell.content }}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
