{% extends 'base.html.twig' %}

{% block title %}New Cell{% endblock %}

{% block body %}
    <h1>Create new Cell</h1>

    {{ include('cell/_form.html.twig') }}

    <a href="{{ path('app_cell_index') }}">back to list</a>
{% endblock %}
