{% extends 'base.html.twig' %}

{% block title %}ReadAccess{% endblock %}

{% block body %}
    <h1>ReadAccess</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ read_access.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_read_access_index') }}">back to list</a>

    <a href="{{ path('app_read_access_edit', {'id': read_access.id}) }}">edit</a>

    {{ include('read_access/_delete_form.html.twig') }}
{% endblock %}
