body {
    background-color: #1A3840 ;
    color: #fff ;
    font-family: Verdana, serif;
}

header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(60deg, #E36684, #007FBE );
}

h1 {
    margin-left: 20px;
}

.navul {
    display: flex;
    list-style: none;
}

.navitem {
    padding-right: 20px;
}