{% extends 'base.html.twig' %}

{% block title %}MakeAccess index{% endblock %}

{% block body %}
    <h1>MakeAccess index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for make_access in make_accesses %}
            <tr>
                <td>{{ make_access.id }}</td>
                <td>
                    <a href="{{ path('app_make_access_show', {'id': make_access.id}) }}">show</a>
                    <a href="{{ path('app_make_access_edit', {'id': make_access.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_make_access_new') }}">Create new</a>
{% endblock %}
