{% extends 'base.html.twig' %}

{% block title %}New MakeAccess{% endblock %}

{% block body %}
    <h1>Create new MakeAccess</h1>

    {{ include('make_access/_form.html.twig') }}

    <a href="{{ path('app_make_access_index') }}">back to list</a>
{% endblock %}
